*{
  outline: none;
}

.new-expense {
  background-color: orange;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
}

.new-expense button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  background-color: rgb(1, 1, 46);
  color: white;
  border-radius: 30px;
  margin-right: 1rem;
  transition: .4s ease-in-out;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: white;
  color: rgb(255, 72, 0);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}